html {
  scroll-behavior: smooth;
}

#about {
  height: 100vh;
  background-image: url('../media/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

.custom_image{
  height: 100px;
}

#web_dev_section{
  height: 100vh;
}

#Education_Certifications{
  height: 100hv;
}

#SoftwareEngineer{
  font-size: 5rem;
}

@include media-breakpoint-up(sm) {
  SoftwareEngineer {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  SoftwareEngineer {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  SoftwareEngineer {
    font-size: 1.6rem;
  }
}
