{%extends "base.html"%} 
{% load static %}

{%block title%} Artificial Intelligence {%endblock%} 

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block content%}



    <section class="bg-dark text-light py-5">
        <div class="container">
            <h1>Artificial Intelligence </h1>
            </br>
            <p>
                In addition to my software engineering skills, I have acquired significant expertise in the 
                field of Artificial Intelligence, which, depending on the application, can work in tandem to 
                achieve specific goals. I have honed my abilities in machine learning for statistics, 
                demonstrated proficiency in utilizing Convolutional Neural Networks (CNNs) for image 
                recognition, mastered Recurrent Neural Networks (RNNs) for precise data predictions, and 
                successfully completed a college project centered around music generation. Moving forward, 
                I am eager to undertake future projects, particularly the integration of a Graphics 
                Processing Unit to enable real-time Computer Vision.
            </p>
        </div>
    </section>

    <section class="bg-light py-5">
        <div class="container">
            <h2>Artificial Intelligence Projects </h2>
            <div class="row">
    
            <div class="col-12 col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">If Mozart Wasn't Dead (IMWD) </br> Texas A&M University </br> BMEN 489 Final Project</h5>
                        <p class="card-text">Built  a Recurrent Neural Network (RNN) model that takes in audio input data (Mozart's most iconic pieces) and generates its own music given an index of randomness.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">✅ Generative AI</li>
                        <li class="list-group-item">✅ TensorFlow </li>
                        <li class="list-group-item">✅ Musical Instrument Digital Interface</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://github.com/PLOOQ/GRU_Music_Generator/blob/main/Algorithms%20%26%20Machine%20Learning%20Music%20Generation%20with%20RNNs%20Report.pdf" class="card-link">Repository and Final Report on GitHub</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Image classification of Malaria parasite reproductive cycle with Machine Learning algorithms</h5>
                        <p class="card-text">Built  a Convolutional Neural Network (CNN) model that takes in image input data and learns patterns in frequencu based on convolution in order to  recognize images with similar traits.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">✅ Computer Vision </li>
                        <li class="list-group-item">✅ TensorFlow </li>
                        <li class="list-group-item">✅ AlexNet</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://github.com/PLOOQ/cnn_malaria/blob/main/Malaria%20Classification%20with%20CNNs%20Report.pdf" class="card-link">Repository and Final Report on GitHub</a>
                    </div>
                </div>
            </div>


        </div>
    </section>
{%endblock%}
