{%extends "base.html"%} 
{% load static %}

{%block title%} Artificial Intelligence {%endblock%} 

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block content%}



    <section class="bg-dark text-light py-5">
        <div class="container">
            <h1>Artificial Intelligence </h1>
            </br>
            <p>
            Next to web development, this is the field I have the most experience with. Amongst the myriad
            of applications for Artificial Intelligence, I am proficient in machine learning applications 
            for statistics, Convolutional Neural Networks (CNNs) for image recognition, Recurrent Neural Networks (RNN)
            for data predictions (and even a college project aimed at music generation). Future projects include 
            the integration of a Graphics Procesisng Unit to achieve real-time image recognition.
            </p>
        </div>
    </section>

    <section class="bg-light py-5">
        <div class="container">
            <h2>Artificial Intelligence Projects </h2>
            <div class="row">
    
            <div class="col-12 col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">If Mozart Wasn't Dead (IMWD) </br> Texas A&M University </br> BMEN 489 Final Project</h5>
                        <p class="card-text">Built  a Recurrent Neural Network (RNN) model that takes in audio input data (Mozart's most iconic pieces) and creates its own music given a temperature index, i.e. measurement of "randomness". </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">✅ Recurrent Neural Networks</li>
                        <li class="list-group-item">✅ TensorFlow / Python</li>
                        <li class="list-group-item">✅ Musical Instrument Digital Interface</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://github.com/PLOOQ/GRU_Music_Generator/blob/main/Algorithms%20%26%20Machine%20Learning%20Music%20Generation%20with%20RNNs%20Report.pdf" class="card-link">Repository and Final Report on GitHub</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">Image classification of Malaria parasite reproductive cycle with Machine Learning algorithms</h5>
                        <p class="card-text">Built  a Convolutional Neural Network (CNN) model that takes in image input data and learns patterns in frequencu based on convolution in order to  recognize images with similar traits.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">✅ Convolutional Neural Networks</li>
                        <li class="list-group-item">✅ TensorFlow / Python</li>
                        <li class="list-group-item">✅ AlexNet</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://github.com/PLOOQ/cnn_malaria/blob/main/Malaria%20Classification%20with%20CNNs%20Report.pdf" class="card-link">Repository and Final Report on GitHub</a>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="bg-dark text-light py-5">
        <div class="container">
            <h2> My Artificial Intelligence Certifications</h2>
            <div class="list-group my-5">

                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">PyTorch for Deep Learning with Python Bootcamp</h5>
                    <small>Completed</small>
                    </div>
                    <p class="mb-1">Udemy - Jose Portilla - Head of Data Science, Pierian Data Inc.</p>
                    <small>Completed:100%</small>
                </a>
                

            </div>
        </div>
    </section>
{%endblock%}
