{%extends "base.html"%}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block title%} Web Development {%endblock%} 
{%block content%} 

<section id="web_dev_section"class="bg-dark text-light p-5">
    <div class="container">
        <h1>Web Development </h1>
        <br>
            Ever since my graduation on May 2021 I took it upon myself to learn the standard web technologies
            as well as modern frameworks that allow me to render my websites more responsive, dynamic, and faster
            in order to create a better UI/UX. It took me only <strong> five months </strong> to learn the fundamentals
            of HTML5, CSS and JavaScript as well as their corresponding frameworks.
        </p>
    </div>

    <div class="container text-dark">
        <div class="row">

            <div class="col-4 my-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">HTML</h5>
                        <h6 class="card-subtitle text-muted">Hypertext Markup Language</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                        <h6 class="card-subtitle text-muted">Javascript</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CSS</h5>
                        <h6 class="card-subtitle text-muted">Cascading Style Sheets</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Django</h5>
                        <h6 class="card-subtitle text-muted">Python Web Framework</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">React.js</h5>
                        <h6 class="card-subtitle text-muted">JavaScript Library</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

            <div class="col-4 my-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bootstrap</h5>
                        <h6 class="card-subtitle text-muted">CSS Framework</h6>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{%endblock%}
