{%extends "base.html"%} 
{% load static %}

{%block title%} Contact Info {%endblock%} 

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block content%}

<section class="bg-dark p-5">
    <div id="game_dev_container" class="container-sm">
        <h1 class="text-light"> Contact Info </h1> 
        <div>
            <ul class="list-group text-dark">
                <li class="list-group-item">Name: Pablo Loo</li>
                <li class="list-group-item">Phone No: (956)382-9240</li>
                <li class="list-group-item">Email: pabloloo@aggienetwork.com</li>
                <li class="list-group-item">Location: Brownsville, TX, USA</li>
                <li class="list-group-item">Professional Title(s): Software Engineer / Biomedical Engineer</li>
                <li class="list-group-item">GitHub: <a href="https://github.com/PLOOQ?tab=repositories"> https://github.com/PLOOQ?tab=repositories</a></li>
                <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/pablo-loo-quintero/"> https://www.linkedin.com/in/<div class="d-md-none"></div>pablo-loo-quintero/</a></li>
            <ul>
        </div>
    </div>
</section>
{%endblock%}
