{%extends "base.html"%} 
{% load static %}

{%block title%} Contact Info {%endblock%} 

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block content%}

<section class="bg-dark p-5">
    <div id="game_dev_container" class="container-sm">
        <h1 class="text-light"> Contact Info </h1> 
        <p class="text-light"> Contact me if you are interested in learning more or if you would like to hire my services!</p>
        <div>
            <ul class="list-group text-dark">
                <li class="list-group-item">Name: Pablo Loo</li>
                <li class="list-group-item">Phone No: (956) 382 - 9240</li>
                <li class="list-group-item">Email: pablolooquintero@gmail.com</li>
                <li class="list-group-item">Location: Austin, TX United States of America </li>
                <li class="list-group-item">Professional Title(s): Software Engineer / Biomedical Engineer / Solutions Engineer </li>
                <li class="list-group-item">GitHub: <a href="https://github.com/PLOOQ?tab=repositories"> https://github.com/PLOOQ?tab=repositories</a></li>
                <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/pablo-loo-quintero/"> https://www.linkedin.com/in/<div class="d-md-none"></div>pablo-loo-quintero/</a></li>
            <ul>
        </div>
    </div>
</section>

<a class="footer-link" href="https://www.freepnglogos.com/pics/javascript">Javascript from freepnglogos.com </a>
    <a class="footer-link" href="https://www.freepik.com/vectors/background"> Background vector created by rawpixel.com - www.freepik.com </a>
    <a class="footer-link" href='https://www.freepik.com/vectors/school'>School vector created by macrovector - www.freepik.com </a>
    <a class="footer-link" href='https://www.freepik.com/vectors/music'>Music vector created by macrovector - www.freepik.com </a>
    <a class="footer-link" href='https://www.freepik.com/vectors/computer'>Computer vector created by catalyststuff - www.freepik.com </a>
    <div class="pt-5 pb-2" id="disclaimer" >
      <p class="text-light">
      Disclaimer: All third party trademarks referenced here (including icons and logos) remain the property 
      of their respective owners. Use of them does not imply any affiliation with or endorsement by them.
      </p>
   </div>
{%endblock%}
