{%extends "base.html"%} 
{%load static%} 

{%block title%} Cybersecurity {%endblock%}

{%block css_files%}
    <link rel="stylesheet" href = "{%static "fields/style.css"%}"/> 
{%endblock%}


{%block content%}

<section class="bg-dark text-light p-5">
    <div id="cybersecurity_container" class="container">
        <h1>Cybersecurity </h1>
        <br>
            Like Game Development, I have null experience in this field, but it is yet anther field that 
            I looking forward to pursuing 
        </p>
    </div>
</section>

{%endblock%}
