{%extends "base.html"%} 
{%load static%} 

{%block title%} Cybersecurity {%endblock%}

{%block css_files%}
    <link rel="stylesheet" href = "{%static "fields/style.css"%}"/> 
{%endblock%}


{%block content%}

<section class="bg-dark text-light p-5">
    <div id="cybersecurity_container" class="container">
        <h1>Cybersecurity </h1>

        <div>
            Just like with Game Development, I have very little experience in this field. 
            I am currently taking courses online in order to get started on the fundamentals.
        </div>
        <div>
        </br>
            David Bombal's <u>The Complete Networking Fundamentals Course. Your CCNA start.</u> Progress : 2.89%
        </div>
    </div>
</section>
<section id="web_dev_certifications" class="bg-dark text-light p-2">
    <div class="container my-5">
        <h2> My Web Development Certifications</h2>
        <div class="list-group my-5">

            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small class="text-muted">And some muted small print.</small>
            </a>

            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small class="text-muted">And some muted small print.</small>
            </a>

        </div>
    </div>

</section>

{%endblock%}
