{%extends "base.html"%} 
{% load static %}

{%block title%} Game Development {%endblock%} 

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block content%}

<section id="game_dev_container" class="bg-dark text-light">

    <section class="p-5">
        <div class="container">
            <h1>Cybersecurity </h1>
            </br>
            <p>
                Just like with Game Development, I have very little experience in this field. 
                I am currently taking courses online in order to get started on the fundamentals.
            </p>
        </div>
        
        <div class="container my-5">
            <h2> My Cybersecurity Certifications</h2>
            <div class="list-group my-5">

                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">The Complete Networking Fundamentals Course. Your CCNA start</h5>
                    <small>In Progress...</small>
                    </div>
                    <p class="mb-1">Udemy - David Bombal - CCIE #11023, over 15 years of network training experience</p>
                    <small>Completed: 1%</small>
                </a>

            </div>
        </div>

    </section>

</section>
{%endblock%}
