{%extends "base.html"%} 
{% load static %}

{%block title%} Game Development {%endblock%} 

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block content%}

<section class="bg-dark text-light p-5">
    <div id="game_dev_container" class="container">
        <h1>Game Development </h1>
        </br>
        <p>
            It is widely known that the two most popular programming languages 
            for game development are C++ and C#, each with their respective game engines, Unreal Engine 
            and Unity. I decided to focus on C++ and Unreal Engine, and so I am currently working on learning
            the C++ programming language, and eventually, I plan on moving on to Unreal Engine.
        </p>
    </div>
{% comment %} </section> {% endcomment %}
{% comment %} <section id="game_dev_certifications" class="bg-dark text-light p-2"> {% endcomment %}
    <div class="container my-5">
        <h2> My Game Development Certifications</h2>
        <div class="list-group my-5">

            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>

        </div>
    </div>

</section>
{%endblock%}
