{%extends "base.html"%}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href = "{%static "fields/style.css"%}"/>
{% endblock %}

{%block title%} Web Development {%endblock%} 
{%block content%} 
{% comment %} Web Development  {% endcomment %}

<section>
  <div id="about" class= "container-fluid text-light">
     <div class="row">
        <div class="col-4 d-none d-md-block">
           <img  id="index_pic" class=" h-100" src="{%static "/media/professional.png"%}"> 
        </div>
        <div class="col-md-8 ">
           <div id="banner_container"class="container-fluid my-5">
              <div id="name" class="container">I am Pablo Loo </div>
              <div id="SoftwareEngineer" class="container"> Software Engineer</div>
              <div id="name" class="container w-100 w-md-50 align-self-start">
                 <a type="button" class="btn btn-primary" href="#Background"> Learn More</a> 
                 OR
                 <a type="button" class="btn btn-primary" href="#"> Contact Me</a> 
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
{% comment %} <ul>
    <li>JavaScript</li>
    <li>HTML5</li>
    <li>Django HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>ReactJS</li>
</ul> {% endcomment %}
{%endblock%}
