html {
  scroll-behavior: smooth;
}

#about {
  height: 100vh;
  background-image: url('../media/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#game_dev_container,
#cybersecurity_container,
#artificial_intelligence_container{
  height: 150vh;
}

.card-img{
  height: 197px;
}

